<?xml version="1.0"?>
<config>
	<modules>
		<CapacityWebSolutions_Featured>
            <version>1.0.0</version>
        </CapacityWebSolutions_Featured>
    </modules>
	<global>
		<models>
            <featured>
                <class>CapacityWebSolutions_Featured_Model</class>
                <resourceModel>featured_mysql4</resourceModel>
            </featured>
            <featured_mysql4>
                <class>CapacityWebSolutions_Featured_Model_Mysql4</class>
                <entities>
					<featured>
                        <table>cws_featured_products</table>
                    </featured>
			    </entities>
            </featured_mysql4>
	    </models>
		<resources>
            <featured_setup>
                <setup>
                    <module>CapacityWebSolutions_Featured</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </featured_setup>
            <featured_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </featured_write>
            <featured_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </featured_read>
        </resources>
	  	<blocks>
            <featured>
                <class>CapacityWebSolutions_Featured_Block</class>
            </featured>
        </blocks>
		<helpers>
            <featured>
                <class>CapacityWebSolutions_Featured_Helper</class>
            </featured>
        </helpers>
    </global>
	<frontend>
        <routers>
            <featured>
                <use>standard</use>
                <args>
                    <module>CapacityWebSolutions_Featured</module>
                    <frontName>featured</frontName>
                </args>
            </featured>
        </routers>
		<layout>
			<updates>
				<featured>
					<file>featured.xml</file>
				</featured>
			</updates>
		</layout>
	</frontend>
	
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <featured before="Mage_Adminhtml">CapacityWebSolutions_Featured_Adminhtml</featured>
                    </modules>
                </args>
            </adminhtml>
        </routers>
	</admin>
	
    <adminhtml>
		<layout>
			<updates>
				<featured>
					<file>featured.xml</file>
				</featured>
			</updates>
		</layout>
	</adminhtml>
	
    <default> <!-- Default text value set from admin-->
		<featured>
			<general>  
				<enabled>1</enabled>
				<display_heading>1</display_heading>
				<heading>FEATURED PRODUCTS</heading>
				<display_by>1</display_by>
				<sort_by>name</sort_by>
				<sort_order>asc</sort_order>
				<products_price>1</products_price>
				<review>0</review>
				<short_desc>0</short_desc>
				<desc_limit>10</desc_limit>
				<add_to_cart>1</add_to_cart>
				<add_to_wishlist>0</add_to_wishlist>
				<add_to_compare>0</add_to_compare>
				<out_of_stock>0</out_of_stock>
			</general>
			<template>
				<select_template>1</select_template>
				<number_of_items>10</number_of_items>
				<show_pager>0</show_pager>
				<products_per_page>5</products_per_page>
				<thumbnail_height>135</thumbnail_height>
				<thumbnail_width>135</thumbnail_width>
			</template>      
		</featured>
	</default>	
</config>
